
.dashboard-section{
    background-color: #3b485a;
    transition: all .500ms;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;    
}
.dashboard-section h3{
    color: white;
}
.menu-exit-con{
    display: flex;
    background-color: #2e3846;
    justify-content: start;
    align-items: center;
}
.menu-exit-con svg{
    color: rgb(219, 217, 217);  
    font-size: 35px;
    margin-left: 15px;
    transition: all .300ms;
}
.menu-exit-con svg:hover{
    color: white;
}
.dashboard-list-con{
    overflow: hidden;
    overflow-y: scroll;
}
.dashboard-list-con::-webkit-scrollbar{
    width: 7px;
  }
  .dashboard-list-con::-webkit-scrollbar-thumb{
    background-color: rgb(177, 175, 175);
    /* border-radius: 3px; */
  }
.dashborad-list, .dashborad-list-minimixe{
    width: 100;
    list-style-type: none;
    padding-left: 2px;
}
.dashborad-list li{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashborad-list-minimixe li{
    width: 100%;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    width: 100%;
    padding-left: 10px;
    transition: all 0.2 ease;
}
.dashborad-list li:hover{
    background-color: #44566d;
}
.dashborad-list-minimixe li:hover{
    background-color: #44566d;
}
.link-item{
    width: 90%;
    height: 55px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(219, 217, 217);   
}
.item-active h5{
    color: white;
}
/* .item-active::before{
    content: "";
    width: 5px;
    height: 50px;
    background-color: rgb(3, 214, 3);
    position: absolute;
    margin-right: 20px; */
/* } */

.link-item h5{
    margin-left: 20px;
}
.dashborad-list-minimixe li .link-item{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(187, 180, 180);
}
.dashborad-list-minimixe li .link-item h5{
    display: none;
}
.link-item svg, .dashborad-list-minimixe li .link-item svg{
    font-size: 25px;
    color: rgb(187, 180, 180);
}
.dashborad-list-minimixe li .item-active svg, .item-active svg{
    color: #fff
}

@media(max-width: 500px){
    .dashboard-menu{
        display: none;
        width: 65%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #1a2433;
        transition: all 0.2s ease;
    }
    .dashboard-menu-open{
        display: block;
        transition: all 0.2s ease;
    }
}